@model ProductVM
@{
    ViewBag.Title = "ShowProduct";
}

<div class="row">
    <div class="col-12">
        <hr />
        <span class="title"><b>@Model.Product.Name</b> | <i>@Model.Category.Name</i></span>
        <hr />
    </div>
    <div class="col-9">
        <img src="~/Content/Images/@Model.GetFirstImage()" class="img-responsive" />
    </div>
    <div class="col-3">
        <table>
            <tr>
                <td>Product Name</td>
                <td>@Model.Product.Name</td>
            </tr>
            <tr>
                <td>Product Category</td>
                <td>@Model.Category.Name</td>
            </tr>
            <tr>
                <td>Product Description</td>
                <td>@Html.Raw(Model.Product.Description)</td>
            </tr>
            <tr>
                <td>Add to Cart</td>
                <td>
                    <form action="/Home/AddToCart" method="post">
                        <input type="hidden" name="id" value="@Model.Product.ID" />
                        <input type="number" min="1" max="99" value="1" name="amount" />
                        <input type="submit" value="Add" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-12">
        <form action="/Home/PublishComment" method="post">
            <table>
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>
                @if (ViewBag.Comments.Count <= 0)
                {
                    <tr>
                        <td colspan="3">
                            <i>
                                No Comments.
                            </i>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (CommentVM cmv in ViewBag.Comments)
                    {
                        <tr>
                            <td>
                                <strong>@((cmv.User.ID == 0 ? "Anonymous" : cmv.User.Firstname + " " + cmv.User.Lastname))</strong>
                            </td>
                            <td>
                                @cmv.Comment.Date
                            </td>
                            <td>
                                @cmv.Comment.Content
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2">
                        <textarea name="content"></textarea>
                    </td>
                    <td>
                        <input type="hidden" name="productID" value="@Model.Product.ID" />
                        <input type="hidden" name="userID" value="@((Session["User"] != null ? ((User)Session["User"]).ID : 0))" />
                        <input type="submit" value="Send" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>